
.container{
    margin: 0 auto
}
h1 {
    @include font($font-bold, 35px, $dark-3-pr4-color);
}

h2 {
    @include font($font-medium, 33px, $dark-2-pr4-color);
}

h3 {
    @include font($font-medium, 27px, $dark-3-pr4-color);
}

h4 {
    @include font($font-medium, 22px, $dark-3-pr4-color);
}

h5 {
    @include font($font-medium, 17px, $dark-3-pr4-color);
}

h6 {
    @include font($font-medium, 15px, $dark-3-pr4-color);
}

p {
    @include font($font-regular, 14px, $dark-1-pr4-color);
}


.header {
  background-color: $dark-3-main-color; 
  padding: 40px 60px; 
  color: #ffffff;
  margin-bottom: 60px;
  

  h2 {
    @include font($font-bold, 24px, #ffffff);
    margin: 0;
    letter-spacing: 0.5px;
    font-style: italic;
  }

  h5 {
    @include font($font-regular, 12px, rgba(255, 255, 255, 0.6)); 
    margin-top: 5px;
    
  }
}