.buttons-section {
  margin-top: 80px;

  .btn-row {
    display: flex;
    align-items: center;
    gap: 30px; 
    margin-bottom: 25px;

    .state-label {
      width: 100px;
      flex-shrink: 0;
      @include font($font-regular, 12px, #9b9b9b);
    }
  }

  .btn {
    height: 45px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    @include font($font-bold, 13px, #fff);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    &.btn-orange { width: 220px; background-color: $pr-2; }
    &.btn-blue   { width: 280px; background-color: $dark-1-main-color; }
    &.btn-dark   { width: 200px; background-color: $dark-1-main-color; }

    &.btn-outline-orange {
      width: 220px;
      background: transparent;
      border: 2px solid $pr-2;
      color: $pr-2;
    }

    &.btn-outline-blue {
      width: 200px;
      background: transparent;
      border: 2px solid $pr-main-color;
      color: $pr-main-color;
    }

    &.is-hover, &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background-color: #e0e0e0 !important;
      border: none !important;
      color: #ffffff !important;
      cursor: not-allowed;
    }
  }
}