
.container {
    width: 600px;
    margin: 0 auto;

    .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 30px;

        div {
            display: flex;
            align-items: center;

            div {
                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
            }

            .pr-1 {
                background-color: $pr-main-color;
            }

            .pr-2 {
                background-color: $pr-2;
            }

            .pr-3 {
                background-color: $pr-3;
            }

            .pr-4 {
                background-color: $pr-4;
            }

            .l1-1 {
                background-color: $light-1-main-color;
            }

            .l2-1 {
                background-color: $light-2-main-color;
            }

            .l3-1 {
                background-color: $light-3-main-color;
            }

            .d1-1 {
                background-color: $dark-1-main-color;
            }

            .d2-1 {
                background-color: $dark-2-main-color;
            }

            .d3-1 {
                background-color: $dark-3-main-color;
            }

            .l1-2 {
                background-color: $light-1-pr2-color;
            }

            .l2-2 {
                background-color: $light-2-pr2-color;
            }

            .l3-2 {
                background-color: $light-3-pr2-color;
            }
            .d1-2 {
                background-color: $dark-1-pr2-color;
            }

            .d2-2 {
                background-color: $dark-2-pr2-color;
            }

            .d3-2 {
                background-color: $dark-3-pr2-color;
            }

            .l1-3 {
                background-color: $light-1-pr3-color;
            }

            .l2-3 {
                background-color: $light-2-pr3-color;
            }

            .l3-3 {
                background-color: $light-3-pr3-color;
            }
            .d1-3 {
                background-color: $dark-1-pr3-color;
            }

            .d2-3 {
                background-color: $dark-2-pr3-color;
            }

            .d3-3 {
                background-color: $dark-3-pr3-color;
            }

            .l1-4 {
                background-color: $light-1-pr4-color;
            }

            .l2-4 {
                background-color: $light-2-pr4-color;
            }

            .l3-4 {
                background-color: $light-3-pr4-color;
            }
            .d1-4 {
                background-color: $dark-1-pr4-color;
            }

            .d2-4 {
                background-color: $dark-2-pr4-color;
            }

            .d3-4 {
                background-color: $dark-3-pr4-color;
            }


        }

    }
}