.tabs-section {
  margin-top: 60px;
  padding: 60px;
  
  .tabs-wrapper {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }

  .tab-item {
    padding: 10px 25px;
    font-size: 13px;
    color: #b1b1b1;
    cursor: pointer;
    position: relative;
    @include font($font-regular, 13px, #b1b1b1);

    &.active {
      color: $pr-2; 
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $pr-2; 
      }
    }
  }

  .placeholder-text {
    @include font($font-regular, 14px, #4a4a4a);
    margin-top: 15px;
  }
}