.typography {
  margin-top: 80px;
  padding: 60px;
 
  
.typo-grid-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr; 
    gap: 80px; 
    margin-top: 40px;
    align-items: stretch;
    
    .typo-right-side{
        display: flex;
        flex-direction: column; 
        justify-content: flex-end; 
        margin-bottom: 45px; 

        .typo-row {
        width: 100%; 
        margin-bottom: 45px;

        &:last-child {
          margin-bottom: 0; 
        }
      }
        
    }
}

  .typo-row {
        display: flex;
        margin-bottom: 45px;
         width: 100%;

    .reverse{
        color: white;
        background-color: $pr-main-color;
        padding: 5px 10px; 
      }

    .typo-name {
      width: 100px;        
      flex-shrink: 0;     
      @include font($font-regular, 14px, #717070);
      padding-top: 10px;   
    }


    .typo-block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 5px 0; 
        line-height: 1.2;
      }

    .custom-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    @include font($font-regular, 16px, $pr-4);
    position: relative;
    padding-left: 35px; 
    margin-bottom: 15px;
    line-height: 1.6;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px; 
      width: 20px;
      height: 20px;
      background-color: $pr-main-color; 
      border-radius: 50%;
      box-sizing: border-box;
    }

    &::after {
      content: '';
      position: absolute;
      left: 6px;    
      top: 7px;    
      width: 7px;
      height: 4px;
      border-left: 2px solid #fff;   
      border-bottom: 2px solid #fff; 
      transform: rotate(-45deg);     
    }
  }
}

  .custom-quote {
    @include font($font-medium, 16px, $dark-2-pr4-color);
    margin: 0 0 8px 0;
    padding-left: 20px;
    border-left: 2px solid $pr-main-color; 
    line-height: 1.6;
    background-color: rgba($pr-main-color, 0.1);
    color: $pr-main-color;
  }

      
      
     .subtitle {
    @include font($font-medium, $size-subtitle, $color-subtitle);
    display: block;
    margin-bottom: 8px;
    .second{
        background-color: $pr-main-color;
        color: #fff;
        padding: 5px;
    }
      }

    

.text-small {
    @include font($font-regular, $size-small, $color-small);
    line-height: 1.4;
}

.paragraph-lead {
    @include font($font-medium, 18px, $pr-main-color);
    line-height: 1.6;
}

     p {
      @include font($font-regular, 16px, $pr-4);
      margin: 0 0 10px 0;
      line-height: 1.6; 
      max-width: 600px;
      }

      .typo-label {
        @include font($font-light, 12px, #aaa);
        display: block;
      }
    }
  }
}

